<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" [(ngModel)]="userName" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="userPassword" required></ion-input>
    </ion-item>
	
    <ion-item lines="full">
      <ion-label position="floating">Institute Id</ion-label>
      <ion-input type="text" [(ngModel)]="userInstitute" required></ion-input>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="getLogin()" expand="block">Sign In</ion-button>
        
      </ion-col>
    </ion-row>
</ion-content>