<ion-header>
<ion-toolbar>
<ion-title>
Welcome To Gurucool
</ion-title>
</ion-toolbar>
</ion-header>
<ion-content class="auth-form">
<ion-grid>
<ion-row>
<ion-col align-self-center>
<!--<ion-button  [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
<span class="divider line one-line">or</span>
--><span class="already">Already a user?</span>
<ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>



<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GURUCOOL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
<div >

<p style="margin-top:150px;" class="fontStyle"><font size="+2"><b><i>Welcome To Gurucool</i></b></font></p>
<button ion-button color="secondary" class="button-icon" style="margin-top:150px;" (click)="loginPage();">Log In</button><br />
<button ion-button color="danger" class="button-icon">Sign Up</button>
</div>
</ion-content>
-->